<style media="screen">
body {
  background-color:#F2FEFF
}
</style>

<h2> welcome <%=@user.name  %> !</h2>
<%= link_to "create new watchlist", new_user_watchlist_path, :method => "get"%>
<div style="position: absolute; right: 4px; top: 4px; text-align: right">
    <%= button_to "Log out", logout_path, :method => "get"%>
</div>

<p><% @watchlists.each do |w| %></p>

  <li><%= link_to w.name, user_watchlist_path(@user, w) %> - <%= w.description %></li>
<%end %>
