<style>

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    body {
      background-color:#e6e6e6
    }
</style>

<div style="position: absolute; right: 4px; top: 4px; text-align: right">
    <%= button_to "Log out", logout_path, :method => "get" %>
</div>

<div style="position: absolute; right: 9px; top: 80px; text-align: right">
  <%= button_to "Sort By Year", watchlist_sorted_path(@watchlist)%>
</div>


  <h2><%= @watchlist.name %></h2>

  <div >
    <%= button_to "Add Movie", new_watchlist_movie_path(@watchlist), :method => "get"%>
  </div>

  <div >
    <%= button_to "Back to lists", user_watchlists_path(@watchlist.user), :method => "get"%>
  </div><br>



<table>

  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>description</th>
    <th>Year</th>
    <th>Options</th>
  </tr>

  <% @watchlist.movies.each.with_index do |movie| %>
    <tr>

      <td><%= movie.title %></td>
      <td><%= movie.genre %></td>
      <td><%= movie.description %></td>
      <td><%= movie.year %></td>
      <td>
        <%= link_to "edit", edit_watchlist_movie_path(@watchlist, movie) %>
        <%= link_to "delete", watchlist_movie_path(@watchlist, movie), :method => "delete" %>
      </td>

    </tr>
  <% end %>
</table>
